* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    border-radius: 140px;

}

.container {
    height: 80vh;
    width: 60%;
    margin-top: 5%;
    margin-left: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;



}

.calculator {
    border: 2px solid black;
    background-color: gainsboro;
    padding: 150px;


}


#red {
    background-color: red;
}

#green {
    background-color: green;
}


.calculator form input {
    border: 12px solid rgb(29, 59, 223);
    width: 223px;
    height: 123px;
    background-color: rgb(220, 208, 208);
    border-radius: 100px;
    cursor: pointer;
    font-size: 60px;
    margin: 40px;
    box-shadow: 20px 20px 20px rgb(22, 1, 1);
}

.calculator form input:hover {
    background-color: rgb(7, 44, 57);
    color: white;
    background-color: rgb(22, 22, 239);
}


#inputbox {
    padding: 50px;
    width: 1120px;
    margin-bottom: 50px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border: none;
    font-size: 70px;
    border-radius: 30px;
    background-color: blanchedalmond;
}